*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    :root {
    --Burning-Orange:#F3782B;
    --Downriver:#002252;
    --Dirty-Orange:#D47203;
    --white:#fff;
    --black:#000;
    --Water-Blue:#0088CC;
    --Mirage:#111C22;
    }
    /* top header */
    .header-bg{
    background-color: var(--Mirage);
    width: 100%;
    }
    .header-bg ul{
    display: flex;
    list-style: none;
    margin: 0;
    }
    .header-bg .left-top-menu li{
    margin-right: 30px;
    padding: 8px 0;
    color: var(--white);
    }
    .top-social-media{
    display: flex;
    justify-content: right;
    } 
    .top-social-media li i{
    color: var(--Burning-Orange);
    }
    .top-icon i{
    color: var(--Burning-Orange);
    }
    .top-social-media .follow{
    color: var(--white)
    }
    .top-social-icon .top-social-media li{
    margin-right: 8px;
    padding: 8px 0;
    }
    /* menu bar */
    .nav-taxefi .nav-item .nav-link:hover{
        color: var(--Burning-Orange);
    }
    .nav-taxefi .nav-item .active{
        color: var(--Burning-Orange);
    }
    .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -9px;
    border-radius: 0px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
    .taxefiNavbar .navbar-brand img{
    width: 100px;
    }
    .nav-taxefi{
    padding: 21px 0;
    }
    .nav-taxefi li a{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: normal;
    }
    .taxefi-btn img{
    max-width: 100%;
    padding: 9px 0;
    }

.taxefiNavbar .dropdown-menu.taxefi-dropdown{
top:57px;
border-radius: 0;
padding: 0;
margin: 0;
    }
    .taxefiNavbar .dropdown-menu.taxefi-dropdown li a{
      padding: 12px;
    }
    .taxefiNavbar .dropdown-menu.taxefi-dropdown li a:hover{
        background: var(--Burning-Orange);
        color: var(--white);
    }
    .taxefiNavbar .dropdown-menu.taxefi-dropdown .dropdown-menu.dropdown-submenu{
  margin-top: 8px;
    color: var(--white);
    padding: 0;
    }
    .taxefiNavbar .dropdown-menu.taxefi-dropdown 
    /* menu bar end */
    /* slider start */
    .TexifiCarousel .carousel-caption {
    padding-bottom: 10.25rem;
    }
    .TexifiCarousel h2{
    font-size: 50px;
    line-height: 75px;
    }
    .TexifiCarousel p{
    margin-bottom: 40px;
    }
    .texefibtn{
    background: var(--Dirty-Orange);
    color: var(--white);
    padding: 20px 40px;
    text-decoration: none;
    }
    .TexifiCarousel .carousel-caption{
        bottom: 8.25rem;
    }
    /* slider end */
    /* about section */
    .content-section{
    padding: 70px 0;
    }
    .content-section .taxefi-about{
    text-align: center;
    }
    .content-section .taxefi-about img{
    max-width: 100%;
    }
    .sub-title {
    position: relative;
    margin-bottom: 20px;
    }
    .sub-title h2{
    font-size: 40px;
    }
    .sub-title h2::after {
    content: "";
    width: 54px;
    height: 3px;
    background: #ddb202;
    top: 55px;
    position: absolute;
    left: 0;
    }
    .title h4{
    color: var(--Downriver);
    }
    .right-about .about-para p{
    padding: 20px 0;
    text-align: justify;
    }
    /* Our Services */
    .service-cards.service-bg{
    background: var(--Downriver);
    color: var(--white);
    padding: 60px 48px;
    text-align: center;
    margin: 20px;
    }
    .service-cards{
    border: 1px solid #f0f1f1;
    color: var(--Mirage);
    padding: 60px 48px;
    text-align: center;
    margin: 20px;
    }
    .service-cards .service-icon i{
    font-size: 45px;
    padding-bottom: 20px;
    color: var(--Burning-Orange);
    }
    .service-cards h3{
    font-size: 29px;
    font-weight: 500;
    }
    .service-cards p{
    text-align: justify;
    }
    /* solution card */
    .solution-icon img{
    max-width: 100%;
    width: 60px;
    padding-bottom: 20px;
    }
    .card-solution{
    margin-top: 40px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 40px 40px 60px 40px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: var(--Dirty-Orange);
    border-radius: 0px 0px 0px 0px;
    }
    .card-solution h3{
    font-size: 24px;
    }
    .card-solution .solution-icon i{
    font-size: 40px;
    padding-bottom: 20px;
    color: var(--Downriver);
    }
    /* billing software */
    .bill-img img{
    max-width: 100%;
    }
    /* why section */
    .why-cards{
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
    }
    .why-cards img{
    width: 100%;
    }
    .why-content p{
    padding: 8px 20px 20px 20px;
    text-align: justify;
    }
    .sub-card{
    position: relative;
    }
    .sub-card .why-head i{
    font-size: 24px;
    color: var(--white);
    margin-right: 8px;
    }
    .sub-card .why-head h5{
    font-size: 18px;
    padding: 0;
    margin: 0;
    }
    .sub-card .why-head{
        width: 100%;
    background: var(--Downriver);
    color: var(--white);
    padding:16px  20px;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 0;
    }
    /* testimonial start */
   /* testimonial section */
   .testimonial-section{
    padding: 70px 0;
    }
    .testimonial-section .title h2{
    color: var(--Downriver);
    }
    .testimonial-section .title h6{
    text-transform: uppercase;
    text-align: center;
    color: var(--cyan);
    }
    .testimonial-card{
    background-color: var(--Downriver);
    color: var(--white);
    padding: 40px 20px;
    margin: 40px 0;
    }
    .testimonial-card ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    }
    .client-img img{
    max-width:100%;
    }
    .client-img{
    width: 130px;
    height: 130px;
    /* background: #fff; */
    text-align: center;
    line-height: 130px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 40px;
    }
    .testimonial-section .owl-carousel .owl-item img{
    max-width: 100%!important;
    display: inline;
    }
    .test-card{
    text-align: center;
    }
    .testimonial-card p{
    text-align: center;
    }
    .testimonial-card H3{
    text-align: center;
    }
    .testimonial-card h6{
    text-align: center;
    }
    /* owl start */
   .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
   .owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
   /* call back  */
   .call-back{
    width: 100%;
    background: url('../images/taxefi-banner.webp') no-repeat border-box fixed center/cover;
   }
   .call-back .call-content{
font-size: 24px;
color: var(--white);
   }
   .call-back .call-flex{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
   }
   .call-back .call-flex li{
    margin-right: 20px;
    font-size: 24px;
    color: var(--white);
   padding-bottom: 0;
   }
   .quote-btn{
    margin-top: 20px;
   }
   .quoteBtn{
    background: var(--Burning-Orange);
    padding: 20px;
    text-decoration: none;
    color: var(--white);
  
   }
   .call-wrap{
    padding: 40px 0;
   }
   /* footer */
   .footer-section{
    background: var(--Mirage);
    padding: 40px 0;
   }
   .footer-section .foot-address ul{
    list-style: none;
   }
   .footer-section .foot-address ul li{
color: var(--white);
font-size: 18px;
margin-top: 8px;
   }
   .footer-section .sub-title {
    margin-bottom: 30px;
}
   .footer-section .foot-address ul li h2{
    font-size: 24px;
    padding-bottom: 20px;
   }
   .footer-service ul{
    list-style: none;
   }
   .footer-service ul li{
    color: var(--white);
   }
   .footer-service ul li h2{
    font-size: 24px;
   }
 .footer-service li{
    line-height: 35px;
 }
 .footer-service li a{
    text-decoration: none;
    color: var(--white);
 }
   /* footer */
   .copyright-wrap {
    width: 100%;
    background: var(--Downriver);
    color: var(--white);
    padding: 20px 0;
}
.copyright-wrap p {
    margin-bottom: 0;
    text-align: center;
}
.copyright-wrap p a {
    text-decoration: none;
    color: var(--Dirty-Orange);
}
    /* top menu */
    .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--Blaze-orange);
    }
    .back-to-top i{
        color: var(--Water-Blue);
    }
    /* about us page */
    .common-background{
        width: 100%;
        background: linear-gradient(45deg, rgba(12, 12, 12, 0.5), rgb(0 34 81 / 69%) 100%),url('../images/background.webp') fixed border-box center/cover;
        padding: 40px 0;
    }
    .about-page h2{
        color: var(--white);
        text-align: center;
    }
    .about-page .breadcrumb .breadcrumb-item{
        color: var(--white);
    }
    .about-page .breadcrumb .breadcrumb-item a{
text-decoration: none;
color: var(--Burning-Orange);
    }
    .about-page .breadcrumb{
        justify-content: center;
        color: var(--white);
    }
    .about-page .breadcrumb-item+.breadcrumb-item::before {
        color: var(--white);
    }
    /* contact */
    .contact-card{
        text-align: center;
        background-color: var(--e-global-color-c3e5fb3);
        padding: 30px 30px 40px 30px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;  
    }
    .contact-card h4{
       text-align: center;
       font-size: 30px;
    }
    .contact-card .contact-icon{
        text-align: center;
        font-size: 24px;
    }
    .contact-card p{
        text-align: center;
    }
    .contact-form{
        padding: 40px 20px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }
    .contact-form .title h2{
        color: var(--Burning-Orange);
        margin-bottom: 20px;
    }
    .contact-form .contact-img  img{
width: 100%;
    }
    @media(max-width:1400px){
        .card-solution {
            padding: 40px 20px 60px 20px;
        }
        .service-cards.service-bg, .service-cards {
            padding: 40px 20px;
        }
        footer .sub-title h2::after {
            top: 39px;
        }
    }
    @media(max-width:992px){
        .header-bg .left-top-menu li {
            margin-right: 8px;
        }
        .call-back .call-flex {
            justify-content: left;
        }
        .contact-form{
            margin-top: 40px;
        }
        .contact-form .title{
            margin-top: 40px;
        }
        .taxefiNavbar .dropdown-menu.taxefi-dropdown .dropdown-menu.dropdown-submenu {
            left: -1px;
            top: 37px;
            width: 100%;
        }
    }
    @media(max-width:991px){
        .nav-taxefi{
            padding: 0;
        }
        .TexifiCarousel .carousel-caption {
            bottom: 5.25rem;
        }
        
    }
    @media(max-width:896px){
        .TexifiCarousel h2 {
            font-size: 48px;
            line-height: 65px;
        }
    }
    @media(max-width:861px){
        .TexifiCarousel h2 {
            font-size: 40px;
            line-height: 52px;
        }
    }
    @media(max-width:789px){
        .TexifiCarousel .carousel-caption {
            bottom: 2.25rem;
        }
    }
    @media(max-width:768px){
        .TexifiCarousel h2 {
            font-size: 30px;
            line-height: 47px;
        }
        .quoteBtn,.texefibtn {
            padding: 11px 20px;
            text-decoration: none;
        }
        .header-bg ul {
            justify-content: center;
        }
        .content-section .taxefi-about {
            margin-bottom: 40px;
        }
    }
    @media(max-width:625px){
.texefibtn{
    display: none;
}
.TexifiCarousel .carousel-caption {
    bottom: 0.25rem;
}
.content-section {
    padding: 20px 0;
}
    }
    @media(max-width:551px){
        .TexifiCarousel h2 {
            font-size: 24px;
            line-height: 42px;
        }
        .sub-title h2 {
            font-size: 36px;
        }.TexifiCarousel p {
            margin-bottom: 30px;
        }
    }
    @media (max-width:530px){
        .TexifiCarousel p {
           display: none;
        }
        .TexifiCarousel h2 {
            font-size: 28px;
            margin-bottom: 3.5rem;
          
        }
    }
    @media(max-width:426px){
        .TexifiCarousel h2 {
            margin-bottom: 1.5rem;
            font-size: 24px;
        }
    }
    @media(max-width:375px){
        .TexifiCarousel h2 {
            margin-bottom: 0.5rem;
            font-size: 20px;
            line-height: 35px;
        }
    }
    @media(max-width:343px){
        .header-bg ul {
            justify-content: center;
            padding: 0;
        }
    }
